
<div class="recipe_panel">
<h1><a href = <%=recipe_path(recipe.id)%>><%=recipe.norm_title%></a></h1>
<div class="container">
<img src='<%=recipe.display_image%>' , size: "200x200" ></img>
</div>
Crafted by
<%= link_to recipe.author.user.name, user_path(recipe.author.user.id) %>
</div>
