
<%= form_tag recipes_path, :method => 'get' do %>
<p>
<%= text_field_tag :search%>
<%= submit_tag 'Find A Recipe!'%>
</p>
<%end%>

<!-- INSERT TOGGLE TO SHOW ONLY ALLERGY FREE RECIPES-->

<%= render partial: "recipe", collection: @recipes, as: :recipe %>


<!-- #{recipe.author.user.name} -->