

<h1><%=@recipe.title%></h1>
<p>By <%=@recipe.author.user.name%></p><br>
<label>Ingredients:</label>
<ul>
<%@recipe.ingredients.each_with_index do |ingredient|%>
<li><%=ingredient.name%></li>
<%end%>
</ul><br>
<label>Instructions:</label>
<p><%=@recipe.content%></p>
